<div class="well qa-rewards-discounts-empty-msg">
  <h4 class="text-bold text-uppercase qa-no-rewards-header">
    {{"realRewards.emptyDiscounts.header"}}
  </h4>

  <p class="qa-no-rewards-description">
    {{"realRewards.emptyDiscounts.description"}}
  </p>
</div>
